.u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 870px;
  margin: 67px auto 67px 135px;
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-6-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-1 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 11.41%;
  background-position: 50% 50%;
  background-image: url("images/portraitphotographyprofilefaceone38289.jpeg");
  margin: 20px auto 0;
}

.u-section-6-1 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-6-1 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-6-1 .u-text-3 {
  margin: 12px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 665px;
    margin: 40px 138px 34px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-1 .u-image-1 {
    width: 118px;
    height: 118px;
    margin-top: 33px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-1 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 564px;
    margin: 65px 82px 21px 73px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-6-1 .u-image-1 {
    width: 142px;
    height: 142px;
    margin-top: 11px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 404px;
    margin: 30px 68px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-6-1 .u-image-1 {
    width: 155px;
    height: 155px;
    margin-top: 12px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-bottom: 74px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-6-1 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: 7px;
  }

  .u-section-6-1 .u-text-1 {
    width: 260px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6-1 .u-text-2 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6-2 .u-layout-wrap-1 {
  width: 870px;
  margin: 67px auto 67px 135px;
}

.u-section-6-2 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-6-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-2 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 11.41%;
  background-position: 50% 50%;
  background-image: url("images/pexelsphoto2102415.jpeg");
  margin: 20px auto 0;
}

.u-section-6-2 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-6-2 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-6-2 .u-text-3 {
  margin: 12px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 665px;
    margin: 243px 138px 34px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-2 .u-image-1 {
    width: 118px;
    height: 118px;
    margin-top: 33px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-2 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 564px;
    margin: 60px 82px 21px 73px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-6-2 .u-image-1 {
    width: 142px;
    height: 142px;
    margin-top: 11px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 404px;
    margin: 30px 68px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-6-2 .u-image-1 {
    width: 155px;
    height: 155px;
    margin-top: 12px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-6-2 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    margin-bottom: 74px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-6-2 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: 7px;
  }

  .u-section-6-2 .u-text-1 {
    width: 260px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6-2 .u-text-2 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6-3 {
  background-image: none;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6-3 .u-layout-wrap-1 {
  width: 870px;
  margin: 67px auto 67px 135px;
}

.u-section-6-3 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-6-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-3 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 58.08%;
  background-position: 50% 50%;
  background-image: url("images/pexelsphoto789812.jpeg");
  margin: 20px auto 0;
}

.u-section-6-3 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-6-3 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-6-3 .u-text-3 {
  margin: 12px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    width: 665px;
    margin: 243px 138px 34px;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-6-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-3 .u-image-1 {
    width: 118px;
    height: 118px;
    margin-top: 33px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6-3 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    width: 564px;
    margin: 50px 82px 21px 73px;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-6-3 .u-image-1 {
    width: 142px;
    height: 142px;
    margin-top: 11px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    width: 404px;
    margin: 30px 68px;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-6-3 .u-image-1 {
    width: 155px;
    height: 155px;
    margin-top: 12px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-6-3 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-6-3 .u-layout-wrap-1 {
    margin-bottom: 74px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-3 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-6-3 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: 7px;
  }

  .u-section-6-3 .u-text-1 {
    width: 260px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6-3 .u-text-2 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-1 {
  min-height: 941px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 640px;
  margin: 321px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 975px;
  margin: -891px auto 100px calc(((100% - 1140px) / 2) + 83px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 336px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  margin: 56px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-3 {
  margin: 184px 0 35px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 455px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  height: 388px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 28px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 455px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  height: 388px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 28px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 455px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  height: 388px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 913px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 404px);
    height: 564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 804px;
    margin-top: -815px;
    margin-bottom: 44px;
    margin-left: calc(((100% - 1140px) / 2) + 168px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 439px;
  }

  .u-section-1 .u-image-2 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 439px;
  }

  .u-section-1 .u-image-3 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 350px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 255px);
    height: 510px;
    margin-top: 267px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -761px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 550px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 293px);
    height: 631px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 326px;
    margin: -440px auto 0 calc(((100% - 1140px) / 2) + 407px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 230px;
    object-position: 50% 35.35%;
    background-position: 50% 35.35%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 146px);
    height: 485px;
    margin-top: 1px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 338px;
    margin-top: -432px;
    margin-bottom: 78px;
    margin-left: calc(((100% - 1140px) / 2) + 401px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }
}.u-section-2 {
  min-height: 831px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 556px;
  background-image: none;
  margin: 281px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 975px;
  margin: -750px auto 85px calc(((100% - 1140px) / 2) + 83px);
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 665px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  margin-bottom: 65px;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  min-height: 665px;
  background-image: url("images/pexelsphoto2305099.jpeg");
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 807px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 404px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 804px;
    margin-left: calc(((100% - 1140px) / 2) + 168px);
  }

  .u-section-2 .u-layout-cell-1 {
    z-index: 0;
    min-height: 641px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    z-index: 2;
    min-height: 641px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 657px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 255px);
    height: 614px;
    margin-top: 250px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -745px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 491px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1003px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 298px);
    height: 800px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-image-1 {
    min-height: 737px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 730px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 148px);
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -761px;
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-1 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }
}.u-section-3 {
  min-height: 812px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 550px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 975px;
  margin: -472px auto 78px calc(((100% - 1140px) / 2) + 83px);
}

.u-section-3 .u-image-1 {
  min-height: 657px;
  background-image: url("images/pexelsphoto2127039.jpeg");
  background-position: 56.57% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 20px 0 65px auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 788px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 404px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 804px;
    margin-left: calc(((100% - 1140px) / 2) + 168px);
  }

  .u-section-3 .u-image-1 {
    min-height: 633px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 633px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 640px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 255px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -486px;
    margin-bottom: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 983px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 209px);
    height: 690px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -626px;
    margin-bottom: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 728px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 713px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 104px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 458px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 428px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 975px;
  margin: 39px auto 39px 83px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 350px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 28px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-3 {
  margin: 48px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 30px auto 28px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 350px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 28px;
}

.u-section-4 .u-text-5 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-icon-2 {
  height: 40px;
  width: 40px;
  margin: 30px auto 28px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 350px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-7 {
  margin-bottom: 0;
  margin-top: 28px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-9 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-icon-3 {
  height: 40px;
  width: 40px;
  margin: 30px auto 28px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 804px;
    margin-left: 68px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: 35px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    position: relative;
  }

  .u-section-4 .u-text-6 {
    position: relative;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
  }

  .u-section-4 .u-text-8 {
    position: relative;
  }

  .u-section-4 .u-text-9 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 616px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 48px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: 28px;
    margin-left: 1px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 341px;
    margin-left: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 315px;
    margin-left: 25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 230px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 975px;
  margin: 73px auto 73px 83px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 115px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-1 {
  height: 45px;
  width: 151px;
  margin: 20px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 115px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-2 {
  height: 30px;
  width: 151px;
  margin: 10px auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 115px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-3 {
  height: 31px;
  width: 140px;
  margin: 27px auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 115px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-4 {
  height: 23px;
  width: 151px;
  margin: 31px auto;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 115px;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-image-5 {
  height: 31px;
  width: 121px;
  margin: 10px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 54px;
    margin-left: 0;
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    height: 31px;
    width: 137px;
    margin-top: 27px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 31px;
    width: 150px;
    margin-top: 27px;
  }

  .u-section-5 .u-image-3 {
    width: 144px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 31px;
    width: 135px;
    margin-top: 27px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 137px;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 188px;
    margin-top: 71px;
    margin-bottom: 70px;
    margin-left: 266px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 10px;
    width: 198px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 10px;
    width: 188px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 10px;
    width: 168px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 10px;
    width: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    margin-top: 10px;
    width: 188px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 195px;
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 173px;
  }

  .u-section-5 .u-image-2 {
    width: 195px;
  }

  .u-section-5 .u-image-5 {
    width: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 187px;
    margin-top: 71px;
    margin-bottom: 70px;
    margin-left: 77px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 187px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-5 {
    width: 187px;
  }
}.u-block-3210-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3210-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 50px;
  height: 50px;
}

.u-block-3210-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-block-3210-3 {
    left: calc(((100% - 940px) / 2));
    width: 41px;
    height: 41px;
  }

  .u-block-3210-4 {
    width: 41px;
    height: 41px;
    right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-block-3210-3 {
    left: calc(((100% - 720px) / 2));
    width: 32px;
    height: 32px;
  }

  .u-block-3210-4 {
    width: 32px;
    height: 32px;
    right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-block-3210-3 {
    left: calc(((100% - 540px) / 2)  + -68px);
    width: 30px;
    height: 30px;
  }

  .u-block-3210-4 {
    width: 30px;
    height: 30px;
    right: calc(((100% - 540px) / 2)  + -68px);
  }
}

@media (max-width: 575px) {
  .u-block-3210-3 {
    left: calc(((100% - 340px) / 2)  + -134px);
  }

  .u-block-3210-4 {
    right: calc(((100% - 340px) / 2)  + -134px);
  }
}.u-section-7 {
  min-height: 441px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 441px;
  background-image: url("images/pexelsphoto114797.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-2 {
  min-height: 441px;
  background-image: url("images/pexelsphoto2102413.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-3 {
  min-height: 441px;
  background-image: url("images/pexelsphoto2173508.jpeg");
  background-position: 66.47% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-image-4 {
  min-height: 441px;
  background-image: url("images/pexelsphoto2127007.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-8 {
  min-height: 829px;
}

.u-section-8 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 556px;
  background-image: none;
  margin: 277px 0 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 975px;
  margin: -752px auto 83px calc(((100% - 1140px) / 2) + 83px);
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 665px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 65px 0 0;
}

.u-section-8 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-8 .u-form-1 {
  height: 305px;
  width: 448px;
  margin: 50px auto 65px;
}

.u-section-8 .u-image-1 {
  min-height: 665px;
  background-image: url("images/pexelsphoto2127033.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 805px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 404px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 804px;
    margin-left: calc(((100% - 1140px) / 2) + 168px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-form-1 {
    width: 369px;
  }

  .u-section-8 .u-image-1 {
    min-height: 641px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 655px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 255px);
    height: 551px;
    margin-top: 179px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -644px;
    margin-bottom: 68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-8 .u-form-1 {
    height: 325px;
    width: 339px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .u-section-8 .u-image-1 {
    min-height: 491px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1001px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 324px);
    height: 457px;
    margin-top: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -371px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-form-1 {
    width: 529px;
  }

  .u-section-8 .u-image-1 {
    min-height: 737px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 728px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 244px);
    height: 556px;
    margin-top: 277px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -752px;
    margin-bottom: 83px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-8 .u-form-1 {
    height: 305px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
  }

  .u-section-8 .u-image-1 {
    min-height: 464px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 281px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 270px;
  margin: 35px auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 470px;
    position: relative;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
  }

  .u-section-9 .u-text-2 {
    position: relative;
  }

  .u-section-9 .u-text-3 {
    position: relative;
  }

  .u-section-9 .u-text-4 {
    position: relative;
  }

  .u-section-9 .u-text-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 529px;
    min-height: 289px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-9 .u-text-5 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-9 .u-group-1 {
    width: 496px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 283px;
    min-height: 270px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-text-5 {
    margin-bottom: 20px;
  }
}